@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 242 100% 100%;
    --foreground: 242 5% 10%;
    --card: 242 50% 100%;
    --card-foreground: 242 5% 15%;
    --popover: 242 100% 100%;
    --popover-foreground: 242 100% 10%;
    --primary: 242 77.6% 66.7%;
    --primary-foreground: 242 100% 100%;
    --secondary: 242 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 204 30% 95%;
    --muted-foreground: 242 5% 40%;
    --accent: 231 89% 89%;
    --accent-foreground: 242 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 242 5% 100%;
    --border: 242 30% 82%;
    --input: 242 30% 50%;
    --ring: 242 77.6% 66.7%;
    --radius: 0.5rem;

    /* charts */
    --chart-1: 163, 72%, 41%;
    --chart-2: 357, 79%, 42%;
    --chart-3: 48, 89%, 46%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
}
.dark {
    --background: 242 50% 10%;
    --foreground: 242 5% 90%;
    --card: 242 40% 15%;
    --card-foreground: 242 5% 95%;
    --popover: 242 50% 12%;
    --popover-foreground: 242 5% 90%;
    --primary: 242 77.6% 66.7%;
    --primary-foreground: 242 100% 98%;
    --secondary: 242 20% 25%;
    --secondary-foreground: 242 5% 85%;
    --muted: 204 15% 20%;
    --muted-foreground: 242 5% 60%;
    --accent: 231 60% 30%;
    --accent-foreground: 242 5% 85%;
    --destructive: 345 70% 60%;
    --destructive-foreground: 242 5% 100%;
    --border: 242 20% 30%;
    --input: 242 30% 40%;
    --ring: 242 50% 45%;

    /* charts */
    --chart-1: 163, 50%, 55%;
    --chart-2: 357, 55%, 60%;
    --chart-3: 48, 70%, 58%;
    --chart-4: 43, 60%, 72%;
    --chart-5: 27, 65%, 73%;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    body::-webkit-scrollbar-track {
        background-color: hsl(242 100% 100%);
    }

    body::-webkit-scrollbar {
        width: 7px;
        background-color: hsl(242 100% 100%);
    }

    body::-webkit-scrollbar-thumb {
        background-color: hsl(242 77.6% 66.7%);
    }
    :root {
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --sidebar-background: 242 40% 15%;
        --sidebar-foreground: 242 5% 90%;
        --sidebar-primary: 242 50% 25%;
        --sidebar-primary-foreground: 242 100% 98%;
        --sidebar-accent: 242 30% 20%;
        --sidebar-accent-foreground: 242 5% 85%;
        --sidebar-border: 242 20% 30%;
        --sidebar-ring: 242 50% 45%;
    }
}

.custom-scrollbar:-webkit-scrollbar-track {
    background-color: hsl(242 100% 100%);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 7px;
    background-color: hsl(242 100% 100%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 0%, 0.25);
}

.custom-scrollbar::-webkit-scrollbar:horizontal {
    height: 7px;
    background-color: hsl(242 100% 100%);
}
